@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes logo-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-logo-scroll {
  animation: logo-scroll 25s linear infinite;
}
